<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitchenAroma Profile Activation</title>
</head>

<body>
    <img src="https://kitchenaroma.co.in/static/images/kitchenaroma_logo_cropped.png" alt="" style="width: 340px;">
    <h1>KitchenAroma welcomes you!</h1>
    <h2>Please click on the link below to activate to your account.</h2>
    <h3>https://kitchenaroma.co.in{% url 'account_activation' id=id token=token %}</h3>
</body>

</html>